<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container_insert">
    <div class="tables_list">
        <label for="tables">Choose a table :</label>
        <select id="tables" name="tableList" form="tableForm">
            <option>Course</option>
            <option>Department</option>
            <option>Staff</option>
            <option>Inventory</option>
            <option>Student</option>
        </select>
        <form method="post" action="/insert" id="tableForm">
            <input type="submit">
        </form>
    </div>

    <% if (temp.length !== 0) { %>
    <h1>Enter the <%= temp %> information below</h1>
    <div class="insert_form">
        <label for="insertForm"></label>
        <form class="insertForm" action='<%= '/insert/table?name=' + temp%>'  method="POST">
            <% for (let i = 0; i < columns.length; i ++) { %>
                <label for='<%= columns[i].name%>'></label>
                <% if (columns[i].name === 'DOB') { %>
                    <input type="date" name='<%= columns[i].name%>' placeholder='<%=columns[i].name%>'>
                <% } else { %>
                    <input type="text" name='<%= columns[i].name%>' placeholder='<%=columns[i].name%>'>
                <% } %>
            <% } %>
                <button type="submit">Submit</button>
        </form>
    </div>
    <% } %>

</div>
</body>
</html>